/* 共通のスタイル */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* headerのスタイル */
header {
  background-color: #ec715f;
  width: 100%;
  height: 70px;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.logo {
  height: 70px;
  float: left;
}

.nav {
  list-style: none;
  float: right;
  line-height: 70px;
}

.nav-list {
  float: left;
  font-size: 16px;
  padding: 0 30px;
}

.nav-link {
  text-decoration: none;
  color: #fafafa;
}


/* main-visualのスタイル */
#main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
  color: #fafafa;
  text-align: center;
  }

#main-visual>h1 {
  font-size: 64px;
  padding-top: 200px;
}

#main-visual>p {
  font-size: 20px;
  margin-top: 10px;
}


/* portfolioのスタイル */
#portfolio {
  background-color: #eceff1;
  padding-bottom: 90px;
}

.pf-header {
  font-size: 32px;
  color: #000000;
  padding-top: 90px;
  text-align: center;
}

.line {
  border-bottom: 3px solid #ec715f;
  width: 70px;
  height: 8px;
  margin: 0 auto;
}

.pf-text {
  font-size: 16px;
  color: #000000;
  padding: 30px 0;
  text-align: center;
}

.img-area {
  width: 920px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.pf-img1 {
  background-image: url(img/sketch.jpg);
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 250px;
  margin-right: 10px;
}

.pf-img2 {
  background-image: url(img/websuku.png);
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 250px;
  margin-right: 10px;
}

.pf-img3 {
  background-image: url(img/write.jpg);
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 250px;
}

.pf-img4 {
  background-image: url(img/webcamp.png);
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 250px;
  margin-top: 10px;
  margin-right: 10px;
}

.pf-img5 {
  background-image: url(img/talk.jpg);
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 250px;
  margin-top: 10px;
  margin-right: 10px;
}

.pf-img6 {
  background-image: url(img/webcamp-mother.png);
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 250px;
  margin-top: 10px;
}

/* featureのスタイル */
#feature {
  padding-bottom: 90px;
}

.feature-header {
  font-size: 32px;
  color: #000000;
  padding-top: 90px;
  text-align: center;
}

.feature-text {
  font-size: 16px;
  color: #000000;
  padding: 30px 0;
  text-align: center;
}

.strength-area {
  width: 980px;
  margin: 0 auto;
}

.strength {
  width: 320px;
  height: auto;
  margin-right: 10px;
  float: left;
}

.strength>h3 {
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  color: #000000;
}

.strength>p {
  font-size: 16px;
  color: #000000;
}

.strength:last-child {
  margin-right: 0;
}

.icon {
  font-size: 60px;
  text-align: center;
}


 /* profileのスタイル */
#profile {
  padding-bottom: 90px;
  background-color: #eceff1;
}

.prof-header {
   font-size: 32px;
   color: #000000;
   padding-top: 90px;
   text-align: center;
 }

 .prof-text {
   font-size: 16px;
   color: #000000;
   padding: 30px 0;
   text-align: center;
 }

 .prof-group {
   vertical-align:middle;
 }

 .prof-img-area {
   width: 512px;
   float: left;
   text-align: center;
 }

 .prof-img {
   border-radius: 50%;
   width: 250px;
   height: 250px;
   text-align: center;
 }

 .prof-text-area {
   width: 512px;
   float: right;
   height: 250px;
 }

 .prof-text-area>h3 {
   font-size: 20px;
   margin-bottom: 5px;
 }

 .prof-text-area>p {
   color: #000000;
   font-size: 16px;
   margin-bottom: 20px;
 }


 /* contactのスタイル */
 #contact {
  padding-bottom: 90px;
}

.contact-header {
   font-size: 32px;
   color: #000000;
   padding-top: 90px;
   text-align: center;
 }

.contact-text {
   font-size: 16px;
   color: #000000;
   padding: 30px 0;
   text-align: center;
 }

 .contact-group {
  width: 800px;
  margin: 0 auto;
 }

.contact-left {
  width: 50%;
  float: left;
}

.contact-left-content {
  width: 130px;
  margin: 0 auto;
}

.info {
  color: #000000;
  text-decoration: underline;
}

.tel {
  margin-top: 20px;
}

.contact-right {
   width: 50%;
   float: right;
   margin: 0 auto;
}

.contact-right-content {
  width: 190px;
  margin: 0 auto;
}

.contact-right-content >h3, .contact-left-content >h3 {
   margin-bottom: 5px;
   font-size: 20px;
}

.contact-right-content >.fa {
  font-size: 50px;
  margin-right: 20px;
}

.contact-right-content >.fa:last-child {
   margin-right: 0;
}


/* footerのスタイル */
footer {
  background-color: #ec715f;
  height: 60px;
}

footer >p {
  text-align: center;
  color: #fafafa;
  font-size: 16px;
  line-height: 60px;
}

/* ------ Responsiveのスタイル ------ */
@media (max-width: 768px) {
  body {
    min-width: 805px;
  }
  .container {
    width: 90%;
  }

  header, .logo{
    height: 50px;
  }
  .nav {
    display: none;
  }
  .menu-trigger,
  .menu-trigger span {
    display: inline-block;
    float: right;
  }
  .menu-trigger {
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 5%;
    margin-top: 5px;
    background: none;
    border: 1px solid #fafafa;
    appearance: none;
    cursor: pointer;
  }
  .menu-trigger span {
    position: absolute;
    left: 4px;
    width: 80%;
    height: 2px;
    background-color: #fafafa;
    border-radius: 4px;
  }
  .menu-trigger span:nth-of-type(1) {
    top: 10px;
    }
  .menu-trigger span:nth-of-type(2) {
    top: 17px;
    }
  .menu-trigger span:nth-of-type(3) {
    bottom: 10px;
    }

  #main-visual {
    background-image: url(img/code.png);
    background-size: cover;
    background-position: center;
  }
  #main-visual>h1 {
    font-size: 40px;
  }
  #main-visual>p {
    font-size: 18px;
  }
  .img-area {
    width: 320px;
  }
  .pf-img2, .pf-img4, .pf-img6 {
    display: block;
    margin-top: 10px;
  }
  .pf-img1, .pf-img3, .pf-img5 {
    display: none;
  }
  .strength-area {
    width: 320px;
  }
  .strength {
    margin-top: 10px;
    float: none;
  }
  .strength:first-child {
    margin-top: 0;
  }
  .prof-group {
    width: 520px;
    margin: 0 auto;
  }
  .prof-img-area {
    float: none;
  }
  .prof-text-area {
    margin-top: 10px;
    float: none;
    text-align: center;
  }
  .prof-text-area>h3 {
    margin-top: 20px;
  }
  .contact-group {
    width: 240px;
    margin: 0 auto;
    text-align: center;
  }
  .contact-left, .contact-right {
    float: none;
    margin: 0 auto;
    width: 200px;
  }
  .contact-left-content {
    margin: 0 auto;
  }
  .contact-right {
    margin-top: 20px;
  }
  .contact-right-content >.fa {
    margin-right: 8px;
  }
}
